



<table border="1">
    <tbody>
        @{
            foreach (var R in Model)
            {
                <tr>
                    <td>@R.RowName</td>
                    @{
                        foreach (var C in R.MovieRoom_Cell)
                        {
                            if (C.NovieRoom_Sell.Count == 0)
                            {
                                <td>
                                    <a href="/MovieRoom/MovieRoom_SellAdd/@C.MRCID">@C.CellName</a>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <a href="/MovieRoom/MovieRoom_SellRemove/@C.MRCID">取消</a>
                                </td>
                            }
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>

@{
    if (ViewBag.Msg != null)
    {
        if (ViewBag.Msg != "")
        {
            <script>
                alert(@ViewBag.Msg);
            </script>

        }
    }
}
